focuses on answering business-driven questions using the Superstore
dataset. The analysis aims to identify loss-making areas, profitable segments,
and key factors affecting profitability.

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv(
    r"C:\Users\2005r\OneDrive\Desktop\superstore_dataset_project\excel_cleaned_data_csv\Superstore_Cleaned_Final.csv"
)

In [10]:
#Loss making orders 
loss_orders = df[df['Profit'] < 0]

loss_orders.shape

(1871, 21)

In [12]:
#Products causing most losses
loss_products = (
    df.groupby('Sub-Category')['Profit']
      .sum()
      .sort_values()
)

loss_products.head(10)

Sub-Category
Tables        -17725.4811
Bookcases      -3472.5560
Supplies       -1189.0995
Fasteners        949.5182
Machines        3384.7569
Labels          5546.2540
Art             6527.7870
Envelopes       6964.1767
Furnishings    13059.1436
Appliances     18138.0054
Name: Profit, dtype: float64

In [13]:
#DISCOUNT VS PROFIT IMPACT
discount_profit = (
    df.groupby('Discount')
      .agg(
          Orders=('Order ID', 'count'),
          Total_Profit=('Profit', 'sum'),
          Avg_Profit=('Profit', 'mean')
      )
)

discount_profit

          Orders  Total_Profit  Avg_Profit
Discount
0.00        4798   320987.6032   66.900292
0.10          94     9029.1770   96.055074
0.15          52     1418.9915   27.288298
0.20        3657    90337.3060   24.702572
0.30         227   -10369.2774  -45.679636
0.32          27    -2391.1377  -88.560656
0.40         206   -23057.0504 -111.927429
0.45          11    -2493.1111 -226.646464
0.50          66   -20506.4281 -310.703456
0.60         138    -5944.6552  -43.077212
0.70         418   -40075.3569  -95.874060
0.80         300   -30539.0392 -101.796797

In [14]:
#MOST PROFITABLE CUSTOMERS
top_customers = (
    df.groupby('Customer Name')['Profit']
      .sum()
      .sort_values(ascending=False)
      .head(10)
)

top_customers.map('${:,.2f}'.format)

Customer Name
Tamara Chand            $8,981.32
Raymond Buch            $6,976.10
Sanjit Chand            $5,757.41
Hunter Lopez            $5,622.43
Adrian Barton           $5,444.81
Tom Ashbrook            $4,703.79
Christopher Martinez    $3,899.89
Keith Dawkins           $3,038.63
Andy Reiter             $2,884.62
Daniel Raglin           $2,869.08
Name: Profit, dtype: object

In [17]:
shipping_profit = (
    df.groupby('Ship Mode')
      .agg(
          Orders=('Order ID', 'count'),
          Total_Profit=('Profit', 'sum')
      )
      .sort_values('Total_Profit', ascending=False)
)

shipping_profit['Total_Profit'] = shipping_profit['Total_Profit'].round(2)

shipping_profit

                Orders  Total_Profit
Ship Mode
Standard Class    5968     164088.79
Second Class      1945      57446.64
First Class       1538      48969.84
Same Day           543      15891.76